body {
    font-family: 'Arial', sans-serif;
    background-color: red;
    color: #333;
    margin: 20px;
  }

  .title{
    font-size: 2em;
    color: blue;
  }

  .logo{
    width: 200px;
    height: 200px;
  }
  
  .cards{
    border: 2px black solid;
    width: fit-content;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 15%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .cards:hover{
    background-color: greenyellow;
  }

  #principal{
    font-size: 3em;
  }

  #titulo{
    border: 2px solid black;
    width: 65vw;
    margin: auto;
    padding: 1em;
  }

  #cards-container{
    background-color: blue;
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }